#container
    gap: 20px
    padding: 5% 0
    flex-wrap: nowrap

#item
    #overlink
        width: 100%
        opacity: 100%
    img
        width: 180px
        object-fit: cover
        opacity: 50%

#typography
    position:absolute